option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: RDS_HOSTNAME
     value: ujvaldb.cdof00xdxqt6.us-west-2.rds.amazonaws.com
   - option_name: RDS_PORT
     value: 3306
   - option_name: RDS_DB_NAME
     value: ujvaldb
   - option_name: RDS_USERNAME
     value: dbusername
   - option_name: RDS_PASSWORD
     value: dbpassword
